.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.innerDiv{
    border: 2px solid rgb(225, 255, 0);
    padding: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

button {
    background-color: rgb(162, 29, 210);
    color: aliceblue;
    font-weight: 900;
    font-size: 15px;
    padding: 8px;
    margin: 5px;
}